player-connection-mode=Listen
player-connection-guid=258142000
player-connection-debug=1
player-connection-project-name=scy-fleet-fp
player-connection-ip=192.168.31.59
player-connection-ip=26.138.242.164
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
build-guid=c97aa138383c43c4812cbaac92f96f28
